<html>
    <head>
        <title>Tele on</title>
        <script type="text/javascript" src="/script/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#btnLogin").click(function() {
                    $.ajax({
                        type: 'POST',
                        url: '/jwtlogin',
                        contentType: 'application/json',
                        dataType: 'json',
                        scriptCharset: 'utf-8',
                        data: JSON.stringify({
                            userid : $("#txtID").val(),
                            password : $("#txtPW").val()
                            }),
                        beforeSend: function(data) {},
                        error: function(data) {},
                        success: function(data) {},
                        completed: function(data) {}
                    });
                })
            });
        </script>
    </head>
    <body>
        <form id="frmLogin" action="/login" method="post">
            <div>{{.}}</div>
            id : <input id="txtID" name="txtID" type="text" value="teleid"/>
            pw : <input id="txtPW" name="txtPW" type="password" value="telepass"/>
            <input type="submit" value="login">
            <button id="btnLogin">JWTLogin</button>
        </form>
    </body>
</html>